<meta name="viewport" content="width=device-width, initial-scale=1">
<style>.topics {display: none;}</style>
<div class="container">
    <div class="row">
        <div class="col">
            <main>
                <center>
                    <h2 class="bl-color" class="item-showall-text"><%= @lang.find(4).string %></h2><br/>
                    <nav style="line-height: 2">
                        <% @topics.each do |topic| %>
                            <b><%= link_to topic.title, items_index3_path(:topic_id => topic.id), class: "p-2 text-mut a-border" %><b/>
                        <% end %>
                    </nav>
                    <% if user_signed_in? %>
                        <% if current_user.admin? %>
                            <br/><br/><br/><br/>
                            <%= form_with(model: [ @topics.build ], local: true) do |form| %>
                                <p><%= form.text_field :title, placeholder: "...", class: 'tags' %></p>
                                <p><%= submit_tag @lang.find(11).string, class:"btn btn-primary bl-b-color", role:"button"  %></p>
                            <% end %>
                        <% end %>
                    <% end %>
                </center>
            </main>
        </div>
    </div>
</div>
