<style>.navbar {display: none;}</style>
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
<%= javascript_tag do %>
    window.userID = <%= raw @userID.to_json %>;
<% end %>
<style>
.image{opacity: 0;}
</style>
<br/>
<h1 style="color: blue; text-align: center" class="item-showall-text">Сollection editing</h1>

<%= form_for :group, url: user_group_path(:user_id => @group.user_id), method: :patch do |form| %>
    <div class="form-group">
        <strong>If you want to change the image, upload a new one</strong>
        <div id="image-photo" class="field dropzone">
            <%= form.file_field :image, class: "image" %>
        </div>
        <div class="field">
            <strong>Title</strong>
            <%= form.text_area :title, :required => 'required', style: "width: 100%; border: 1px solid Silver; border-radius: 3px;" %>
        </div>
        <div class="field">
            <strong>Description</strong>
            <%= form.text_area :description, :required => 'required', style: "height: 100px;width: 100%; border: 1px solid Silver; border-radius: 3px;" %>
        </div>
        <div class="field">
            <strong>Topic</strong>
            <select name='title'>
            <% @topics.each do |topic| %>
                <% if topic.title == @mytopic %>
                    <option value="" hidden disabled selected>
                        <%= topic.title %>
                    </option>
                <% else %>
                    <option>
                        <%= topic.title %>
                    </option>
                <% end %>
            <% end %>
            </select>
        </div>
        <div class="actions">
  <br/>
    <center>
             <%= form.submit 'Save', class: 'submit', class:"btn btn-primary", style: "background: blue", role:"button"  %>
    </center>
        </div>

   </div>
<% end %>


<script>
Dropzone.autoDiscover = false;
$(document).ready(function () {
 $("#image-photo").dropzone({
      paramName: "group[image]", // The name that will be used to transfer the file
        url: '/users/' + userID + '/groups/upload',
        headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        },
      maxFiles: 1,
      maxfilesexceeded: function(file) {
          this.removeAllFiles();
          this.addFile(file);
      },
      init: function() {
          var submitButton = document.querySelector(".submit")
          myDropzone = this; // closure
        }
 });
});
</script>