<style>.navbar {display: none;}</style>
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
<%= javascript_tag do %>
    window.userID = <%= raw @userID.to_json %>;
<% end %>
<style>.image{opacity: 0;}</style>
<br/>
<h1 style="text-align: center" class="item-showall-text bl-color"><%= @lang.find(14).string %></h1>
<%= form_for :group, url: user_group_path(:user_id => @group.user_id), method: :patch do |form| %>
    <div class="form-group">
        <strong><%= @lang.find(18).string %></strong>
        <div id="image-photo" class="field dropzone" style="color:black">
            <%= form.file_field :image, class: "image" %>
        </div>
        <div class="field">
            <strong><%= @lang.find(15).string %></strong>
            <%= form.text_area :title, :required => 'required', style: "width: 100%; border: 1px solid Silver; border-radius: 3px;" %>
        </div>
        <div class="field">
            <strong><%= @lang.find(16).string %></strong>
            <%= form.text_area :description, :required => 'required', style: "height: 100px;width: 100%; border: 1px solid Silver; border-radius: 3px;" %>
        </div>
        <div class="field">
            <strong><%= @lang.find(17).string %></strong>
            <select name='title'>
            <% @topics.each do |topic| %>
                <% if topic.title == @mytopic %>
                    <option value="" hidden disabled selected>
                        <%= topic.title %>
                    </option>
                <% else %>
                    <option>
                        <%= topic.title %>
                    </option>
                <% end %>
            <% end %>
            </select>
        </div>
        <div class="actions">
            <br/>
            <center>
             <%= form.submit @lang.find(11).string, class: 'submit', class:"btn btn-primary bl-b-color", role:"button"  %>
            </center>
        </div>
   </div>
<% end %>

<script>
Dropzone.autoDiscover = false;
$(document).ready(function () {
 $("#image-photo").dropzone({
      paramName: "group[image]", // The name that will be used to transfer the file
        url: '/users/' + userID + '/groups/upload',
        headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        },
      maxFiles: 1,
      maxfilesexceeded: function(file) {
          this.removeAllFiles();
          this.addFile(file);
      },
      init: function() {
          var submitButton = document.querySelector(".submit")
          myDropzone = this; // closure
} });});
</script>