<style>
.navbar {display: none;}
.image{opacity: 0;}
</style>
<br/>
<h1 style="text-align: center" class="item-showall-text bl-color"><%= @lang.find(13).string %></h1>
<br/>
<%= form_with(model: [ @user, @user.groups.build ], local: true) do |form| %>
   <div class="form-group">
        <div id="image-photo" class="field dropzone" style="color:black">
            <%= form.file_field :image, class: "image" %>
        </div>
        <div class="field">
            <strong><%= @lang.find(15).string %></strong>
            <%= form.text_area :title, :required => 'required', style: "width: 100%; border: 1px solid Silver; border-radius: 3px;" %>
        </div>
        <div class="field">
            <strong><%= @lang.find(16).string %></strong>
            <%= form.text_area :description, :required => 'required', style: "height: 100px;width: 100%; border: 1px solid Silver; border-radius: 3px;" %>
        </div>
        <div class="field">
            <strong><%= @lang.find(17).string %></strong>
            <select name='title' required>
                    <option value="" hidden disabled selected></option>
                    <% @topics.each do |topic| %>
                        <option>
                            <%= topic.title %>
                        </option>
                    <% end %>
            <select/>
        </div>
        <input value=" + " type="button" class="btn btn-primary bl-b-color" onclick="add_field()" >
        <div class="field" id="add_field" >
        </div>
        <div class="actions">
            <br/>
            <center>
                <%= form.submit 'OK', class: 'submit', class:"btn btn-primary bl-b-color", role:"button"  %>
            </center>
        </div>
   </div>
<% end %>
<%= content_tag :div, id: "userID", style: "visibility: hidden" do %>
<%= @user.id %>;
<% end %>
<%= javascript_include_tag "newgroup" %>