<style>.navbar {display: none;}</style>
<%= javascript_tag do %>
    window.userID = <%= raw @userID.to_json %>;
<% end %>
<style>
.image{opacity: 0;}
</style>
<br/>
<h1 style="text-align: center" class="item-showall-text bl-color"><%= @lang.find(13).string %></h1>
<br/>
<%= form_with(model: [ @user, @user.groups.build ], local: true) do |form| %>
   <div class="form-group">
        <div id="image-photo" class="field dropzone" style="color:black">
            <%= form.file_field :image, class: "image" %>
        </div>
        <div class="field">
            <strong><%= @lang.find(15).string %></strong>
            <%= form.text_area :title, :required => 'required', style: "width: 100%; border: 1px solid Silver; border-radius: 3px;" %>
        </div>
        <div class="field">
            <strong><%= @lang.find(16).string %></strong>
            <%= form.text_area :description, :required => 'required', style: "height: 100px;width: 100%; border: 1px solid Silver; border-radius: 3px;" %>
        </div>
        <div class="field">
            <strong><%= @lang.find(17).string %></strong>
            <select name='title' required>
                    <option value="" hidden disabled selected></option>
                    <% @topics.each do |topic| %>
                        <option>
                            <%= topic.title %>
                        </option>
                    <% end %>
            <select/>
        </div>
        <input value=" + " type="button" class="btn btn-primary bl-b-color" onclick="add_field()" >
        <div class="field" id="add_field" >
        </div>
        <div class="actions">
            <br/>
            <center>
                <%= form.submit 'OK', class: 'submit', class:"btn btn-primary bl-b-color", role:"button"  %>
            </center>
        </div>
   </div>
<% end %>

<script>
Dropzone.autoDiscover = false;
jQuery(document).ready(function($){
    $("#image-photo").dropzone({
      paramName: "group[image]", // The name that will be used to transfer the file
        url: '/users/' + userID + '/groups/upload',
        headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        },
      maxFiles: 1,
      maxfilesexceeded: function(file) {
          this.removeAllFiles();
          this.addFile(file);
      },
      init: function() {
          var submitButton = document.querySelector(".submit")
          myDropzone = this; // closure
        }
    });
});

i=0;
function add_field() {
    $("#add_field").prepend("<div id="+ i +"></br><input placeholder='Field name' name='titleAdd[]' required style='margin: 5px 0'>&nbsp;&nbsp;<select name='typeAdd[]' required><option option value=\"\">Type</option><option>String</option><option>Text</option><option>Boolean</option><option>Date</option><option>Float</option><select/>&nbsp;&nbsp;<input value=\" X \" type=\"button\"  onclick=\"\$('#"+i+"')\.remove()\;\" ><br/></div>");
i = i + 1;
}

</script>