<style>.home {display: none;}</style>
<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-12">
            <center>
                <div class="nav-scroller py-1 mb-2 hello-text">
                    <p class="welcom">
                        <span style="color: red;">admin: admin@mail.ru password: 123456</span>
                        <br/>
                        <% if user_signed_in? && current_user.lang == "eng" %>
                            Welcome to mydearfriends.herokuapp.com. Here you can read a lot of interesting things about everything in the world. Perhaps you like to travel or you are not indifferent to cooking. Or maybe you want to keep your personal diary. Put here what you would like to share with people, and the world will hear you.
                        <% else %>
                            Добро пожаловать на наш сайт. Здесь вы можете прочитать  много интересного обо всем на свете. Возможно, вы любите путешествовать или вы не равнодушны к кулинарии. А может быть вы хотите завести ваш личный дневник. Разместите здесь то, чем вы бы хотели поделиться с людьми, и мир вас услышит.
                        <% end %>
                    </p>
                </div>
            </center>
        <div/>
    <div/>
    <h2 class="blog-post-title title">
        <center><%= @lang.find(31).string %></center>
    </h2>
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
        <% @item.each_with_index do |item, index| %>
        <% if index == 0 %>
            <div class="carousel-item active">
                <div class="index-img">
                    <div class="bg-img bg-img-height" style="background-image: url(<%= rails_blob_url(Group.find(item.group_id).image) %>);background-repeat: no-repeat; background-size: cover; background-position: center;">
                        <div class="carousel-caption background-item">
                            <h1 class="h1-size" style="text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0;"><%= link_to item.title, showOne_item_path(:id => item.id, :group_id => item.group_id), style: "color:white" %></h1>

                        </div>
                    </div>
                </div>
            </div>
        <% else %>
            <div class="carousel-item">
                <div class="index-img">
                    <div class="bg-img bg-img-height" style="background-image: url(<%= rails_blob_url(Group.find(item.group_id).image) %>);background-repeat: no-repeat; background-size: cover; background-position: center;">
                        <div class="carousel-caption background-item">
                            <h1 class="h1-size" style="text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0;"><%= link_to item.title, showOne_item_path(:id => item.id, :group_id => item.group_id), style: "color:white" %></h1>

                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        <% end %>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <br/>
    <h2 class="blog-post-title title">
        <center><%= @lang.find(32).string %></center>
    </h2>
    <div class="row mb-2">
        <% @groups.each do |group| %>
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative scale">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 bl-color">
                            <%= User.find(group.user_id).name %>
                        </strong>
                        <h3 class="mb-0">
                            <%= link_to group.title, showAll_item_path(:group_id => group.id) %>
                        </h3>
                        <div class="mb-1 text-muted">
                            <%= group.created_at.strftime("%Y-%m-%d %R") %>
                        </div>
                        <p class="card-text mb-auto">
                            <%= markdown(group.description) %>
                        </p>
                        <%= link_to @lang.find(33).string, showAll_item_path(:group_id => group.id), class: "stretched-link" %>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <div class="bd-placeholder-img" style:"top: 0;">
                            <%= image_tag group.image, style:"width: 200px; height: 250px; object-fit: cover;" %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <hr/>
    <div class="row">
        <div class="col-12">
            <center>
                <nav style="line-height: 2">
                    <% @tags.each do |tag| %>
                        <span style="white-space: nowrap;"><%= link_to tag.title, items_index2_path(:tag_id => tag.id), class: "p-2 text-mut a-border"%></span>
                    <% end %>
                </nav>
                <br/>
            </center>
        <div/>
    <div/>
</div>
</div>