<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
<style>.user_management {display: none;}</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container">
    <div class="row">
        <div class="col-12">
            <%= form_tag destroy_users_path, :method => :delete do %>
            <center>
                <h4><%= @lang.find(7).string %></h4>
            </center>
            <center>
                <main class="table-hover">
                    <table>
                        <thead>
                            <tr height="15" style="border-radius: 10px;text-align: center;" class="thead-tab">
                                <th height="30"><input onclick="if($(this).attr('checked')) $(this).closest('table').find(':checkbox').attr('checked', true); else $(this).closest('table').find(':checkbox').attr('checked', false);" id="select_all" type="checkbox"></th>
                                <th><%= @lang.find(19).string %></th>
                                <th class="item-showall-table-email"><%= @lang.find(20).string %></th>
                                <th class="item-showall-table"><%= @lang.find(21).string %></th>
                                <th class="item-showall-table"><%= @lang.find(22).string %></th>
                                <th><%= @lang.find(23).string %></th>
                                <th><%= @lang.find(24).string %></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @users.each do |user| %><% if user.id!=1 %>
                                <% if user.groups.size > 0 %>
                                <tr style="cursor: pointer;" class="bl-color" onclick="window.location.href='https://mydearfriend.herokuapp.com/groups/showAll?id=<%= user.id %>';" >
                                <% else %>
                                <tr>
                                <% end %>
                                    <td><%= check_box_tag 'user_id[]', user.id %></td>
                                    <td><%= user.name %></td>
                                    <td class="item-showall-table-email"><%= user.email %></td>
                                    <td class="item-showall-table"><%= user.created_at.strftime("%Y-%m-%d %R") %></td>
                                    <td class="item-showall-table"><%= user.current_sign_in_at.strftime("%Y-%m-%d %R") %></td>
                                    <td style="text-align:center;">
                                        <%= link_to active_user_path(id: user.id), method: :post do %>
                                            <% if user.active %>
                                                <%= image_tag("/assets/delete.png", height: "20px") %>
                                            <% else %>
                                                <%= image_tag("/assets/true.png", height: "20px") %>
                                            <% end %>
                                        <% end %>
                                    </td>
                                    <td style="text-align:center;">
                                        <%= link_to admin_user_path(id: user.id), method: :post do %>
                                            <% if user.admin %>
                                                <%= image_tag("/assets/true.png", height: "20px") %>
                                            <% else %>
                                                <%= image_tag("/assets/delete.png", height: "20px") %>
                                            <% end %>
                                        <% end %>
                                    </td>
                                </tr>
                            <% end %><% end %>
                        </tbody>
                    </table>
                    <br/>
                    <%= submit_tag @lang.find(12).string, data: { confirm: 'Are you sure?' }, class:"btn btn-primary bt-text-size bl-b-color", style: "border:none;border-radius: 10px;", role:"button"  %>
                </main>
            </center>
            <% end %>
        </div>
    </div>
</div>
