<style>.lang-style {display: none;}</style>
<div class="container-fluid">
<h2 style="text-align: center" class="item-showall-text bl-color"><%= @lang.find(36).string %>: <%= @topic.title %></h2>
<br/>
<div class="row mb-2">
    <% @groups.each do |group| %>
        <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative scale">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 bl-color">
                        <%= User.find(group.user_id).name %>
                    </strong>
                    <h3 class="mb-0">
                        <%= link_to group.title, showAll_item_path(:group_id => group.id) %>
                    </h3>
                    <div class="mb-1 text-muted">
                        <%= group.created_at.strftime("%Y-%m-%d %R") %>
                    </div>
                    <span style="text-align: justify;">
                        <%= link_to markdown(group.description), showAll_item_path(:group_id => group.id) %>
                    </span>
                    <%= link_to @lang.find(33).string, showAll_item_path(:group_id => group.id), class: "stretched-link" %>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <div class="bd-placeholder-img" style:"top: 0;">
                        <%= image_tag group.image, style:"width: 200px; height: 250px; object-fit: cover;" %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>