<style>
.navbar {display: none;}
input{
border: 1px solid Silver; border-radius: 3px; margin-bottom: 5px;}
</style>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.2.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.2/jquery-ui.min.js"></script>
<%= javascript_tag do %>
    window.allTags = <%= raw @allTags.to_json %>;
<% end %>
<script type="text/javascript">
$(document).on('click', '.tags', function () {
    $('.tags').autocomplete({source: allTags});
});
</script>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<br/>
<h1 style="text-align: center" class="item-showall-text bl-color"><%= @lang.find(10).string %></h1>
<%= form_with(model: [ @group, @group.items.build ], local: true) do |form| %>
    <p>
        <strong><%= @lang.find(15).string %></strong>
        <%= form.text_area :title, :required => 'required', style: "width: 100%; border: 1px solid Silver; border-radius: 3px;" %>
    </p>
    <strong><%= @lang.find(29).string %></strong>
    <%= form.rich_text_area :text, :required => 'required' %>
        </p>
            <strong><%= @lang.find(28).string %></strong>
        <p>
           <%= text_field_tag "tags[]", "", class: 'tags' %>
           <%= text_field_tag "tags[]", "", class: 'tags' %>
           <%= text_field_tag "tags[]", "", class: 'tags' %>
        </p>
        <p>
            <% if @group_apps %>
                <% @group_apps.each do |group_app| %>
                    <% if group_app.type_data == 'String' %>
                        <b><%= group_app.title %></b><br/>
                        <input name='string[]' required><br/>
                    <% end %>
                    <% if group_app.type_data == 'Text' %>
                        <b><%= group_app.title %></b><br/>
                        <textarea name='text[]' required></textarea><br/>
                    <% end %>

                    <% if group_app.type_data == 'Boolean' %>
                        <b><%= group_app.title %></b><br/>
                        <%= check_box_tag "boolean[]", group_app.id %>
                        <br/>
                    <% end %>
                    <% if group_app.type_data == 'Date' %>
                        <b><%= group_app.title %></b><br/>
                        <input type="date" name='date[]' required><br/>
                    <% end %>
                    <% if group_app.type_data == 'Float' %>
                        <b><%= group_app.title %></b><br/>
                        <input name='float[]' required><br/>
                    <% end %>
                <% end %>
            <% end %>
        </p>
        <p>
            <br/>
            <center>
                <%= form.submit 'OK', class:"btn btn-primary bl-b-color", role:"button" %>
            </center>
        </p>
<% end %>
