<style>.lang-style {display: none;}</style>
<div  class="container-fluid wt-b-color" >
    <div class="row">
        <div class="col-12">
            <center>
                <h2 class="item-showall-text bl-color"><%= @item.title %></h2><br/>
                <span class="markdown-justify"><%= @lang.find(27).string %>: <%= link_to User.find(@group.user_id).name, user_root_path(:id => User.find(@group.user_id).id) %></span>
            </center>
            <p><%= @item.text %></p>
            <% if @item_apps %>
                <% @item_apps.each do |item_app| %>
                    <% if item_app.string %>
                        <b><%= @group_apps.find(item_app.group_app_id).title %>: </b>
                        <%= item_app.string %><br/>
                    <% end %>
                    <% if item_app.text %>
                        <b><%= @group_apps.find(item_app.group_app_id).title %>: </b><br/>
                        <%= markdown(item_app.text) %>
                    <% end %>
                    <% if  @group_apps.find(item_app.group_app_id).type_data == "Boolean" %>
                        <b><%= @group_apps.find(item_app.group_app_id).title %>: </b>
                        <% if item_app.boolean %>
                            <input type="checkbox" checked disabled = 1">
                        <% else %>
                            <input type="checkbox" disabled = 1">
                        <% end %>
                        <br/>
                    <% end %>
                    <% if item_app.date %>
                        <b><%= @group_apps.find(item_app.group_app_id).title %>: </b>
                        <%= item_app.date %><br/>
                    <% end %>
                    <% if item_app.float %>
                        <b><%= @group_apps.find(item_app.group_app_id).title %>: </b>
                        <%= item_app.float %><br/>
                    <% end %>
                <% end %><br/>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <% if user_signed_in? %>
                &nbsp;&nbsp;&nbsp;<a onclick="likes()""><%= image_tag "/assets/white_heart.png", id: "image", height: '20' %></a>
            <% end %>
        </div>
            <div class="col-6" style="text-align: right;">
            <%= link_to @lang.find(39).string, showAll_item_path(:group_id => @item.group_id), class: "stretched-link" %>&nbsp;&nbsp;&nbsp;<br/><br/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        <br/>
        <center>
            <div class="comments"></div>
                <br/>
                <% if user_signed_in? %>
                    <h4><b><%= @lang.find(8).string %></b></h4>
                    <%= form_with(model: [ @item, @item.comments.build ], local: true) do |form| %>
                        <p>
                            <%= form.text_area :body, class: "comment-text-area wt-b-color", style: "height: 100px" %>
                        </p>
                        <div class="comment-btn-ok"><center>
                            <%= form.submit 'OK', class:"btn btn-primary bl-b-color", role:"button" %></center>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </center>
    </div>
</div>
<%= content_tag :div, id: "itemid", style: "visibility: hidden" do %><%= @item.id %><% end %>
<%= javascript_include_tag "showone1" %>
<% if user_signed_in? %>
<%= content_tag :div, id: "currentuserid", style: "visibility: hidden" do %><%= current_user.id %><% end %>
<%= javascript_include_tag "showone2" %>
<% end %>