<style>
h3 {font-size: 120%; text-align: center;}
</style>
<div class="container">
    <div class="row">
        <div class="col-4 group-image-none">
            <br/>
            <%= image_tag @group.image, style:"width: 100%; height: 100%; object-fit: cover;" %>
        </div>
        <div class="col">
            <br/>
            <h2 style="text-align: center" class="item-showall-text bl-color"><%= @group.title %></h2>
            <span class="markdown-justify"><%= markdown(@group.description) %></span>
            <span class="markdown-justify"><%= @lang.find(27).string %>: <%= link_to User.find(@group.user_id).name, user_root_path(:id => User.find(@group.user_id).id) %></span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <br>
            <hr>
            <center>
                <main class="table-hover">
                <table id="table" class="sortable">
                    <thead>
                      <tr>
                         <th><h3><%= @lang.find(15).string %>&nbsp;</h3></th>
                         <th><h3><%= @lang.find(25).string %>&nbsp;</h3></th>
                         <th><h3><%= @lang.find(26).string %>&nbsp;</h3></th>
                         <% if @item1 %>
                            <% @item_apps.where(item_id: @item1.id).each do |item_app| %>
                                <th id="table-none"><h3><%= @group_apps.find(item_app.group_app_id).title %>&nbsp;</h3></th>
                            <% end %>
                         <% end %>
                         <% if user_signed_in? %>
                             <% if (current_user.id == @group.user_id) || (current_user.admin) %>
                                <th class="nosort"></th>
                             <% end %>
                         <% end %>
                      </tr>
                    </thead>
                    <tbody>
                      <% @group.items.each do |item| %>
                        <tr id="tr" style="cursor: pointer" onclick="window.location.href='https://mydearfriend.herokuapp.com/items/showOne?group_id=<%= @group.id %>&id=<%= item.id %>';">
                        <td ><%= item.title%></td>
                        <td class="xxx"><%= item.created_at.strftime("%Y-%m-%d %R") %></td>
                        <td><%= item.updated_at.strftime("%Y-%m-%d %R") %></td>
                        <% if @item1 %>
                            <% @item_apps.where(item_id: item.id).each do |item_app| %>
                                <% if item_app.string %>
                                    <td id="table-none"><%= item_app.string %></td>
                                <% end %>
                                <% if item_app.text %>
                                    <td id="table-none"><%= markdown(item_app.text) %></td>
                                <% end %>
                                <% if  @group_apps.find(item_app.group_app_id).type_data == "Boolean" %>
                                    <% if item_app.boolean %>
                                        <td id="table-none"><input type="checkbox" checked disabled = 1"></td>
                                    <% else %>
                                        <td id="table-none"><input type="checkbox" disabled = 1"></td>
                                    <% end %>
                                <% end %>
                                <% if item_app.date %>
                                   <td id="table-none"> <%= item_app.date %></td>
                                <% end %>
                                <% if item_app.float %>
                                    <td id="table-none"><%= item_app.float %></td>
                                <% end %>
                            <% end %>
                        <% end %>
                        <% if user_signed_in? %>
                            <% if (current_user.id == @group.user_id) || (current_user.admin) %>
                                <td onclick="event.stopPropagation ? event.stopPropagation() : (event.cancelBubble=true)">
                                    <%= link_to image_tag("/assets/edit.png", height: "20px"), edit_group_item_path(@group.id, item) %>

                                </td>
                            <% end %>
                        <% end %>
                      </tr>
                      <% end %>
                    </tbody>
                </table>
                </main>
                <% if user_signed_in? %>
                <% if (current_user.id == @group.user_id) || (current_user.admin) %>
                    <div>
                        <%= link_to image_tag("/assets/plus.png", height: "20px"), new_group_item_path(@group.id) %>
                    </div>
                <% end %>
                <% end %>
            </center>
        </div>
    </div>
</div>
<%= content_tag :div, id: "filter", style: "visibility: hidden" do %>
  <%= @lang.find(38).string%>
<% end %>
<br/>
<%= javascript_include_tag "showall" %>
